@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

@font-face { font-family: Sansation-Bold; src: url('../fonts/sansation/Sansation-Bold.ttf'); }

/* GLOBAL */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans";
}
html, body, #sub-body, #main-content {
	height: 100%;
}

h1, h2, h3 {
	font-family: 'Sansation-Bold';
}

h1 {
	color: #097B36;
	font-size: 50px;
}

h3 {
	font-size: 20px;
}


/* HEADER */
#abs-header {
	position: absolute;
	width: 100%;
}

header {
	padding: 15px 100px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: rgba(26, 135, 55, .2);
	box-shadow: 2px 2px 5px #CCC;
}

#header-logo {
	float: left;
	margin-right: 30px;
	width: 60px;
}

nav ul {
	float: left;
	line-height: 60px;
	margin: 0;
}

nav li {
	display: inline-block;
} 

nav a {
	padding: 10px 20px;
	color: #3A784A;
	font-size: 12pt; 
}

nav a:hover, nav a.active-head-link {
	text-decoration: none;
	background-color: #FFF;
	color: #222;
}

.header-divider {
	position: absolute;
	width: 100%;
	left: 0;
	top: 90px;
	border-bottom: 1px solid #1A8737;
}


/* HOME */
#sub-body {
	margin: 0 100px;
	padding-top: 120px;
	min-height: 700px;
}

#main-content .row {
	height: 90%;
}

#main-left {
	height: 514px;
}

#main-right {
	height: 514px;
	padding-top: 160px;
}

#the-phone {
	width: 240px;
	display: block;
	position: absolute;
	z-index: -1;
	left: 50px;
}

	/* HANGING TITLE */
	#hanging-title {
		text-align: center;
		margin: 20px 0;
	}

	#hanging-title > img {
		width: 60%;
	}

	#more-button {
		width: 14px;
		margin-right: 10px;
	}

	#more-span:hover {
		opacity: .5;
		cursor: pointer;
	}

	#slogan-download {
		width: 402px;
		text-align: center;
	}

	#catchy-motto {
		font-style: italic;
	}

		/* LOWER CONTENT */
		#lower-content {
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;
			background-color: #EEE;
			padding: 40px 200px 0 200px;
			overflow: hidden;
		}

		.info-block {
			margin-bottom: 120px;
			clear: both;
			overflow: hidden;
			font-size: 12pt;
		}

		.info-left {
			padding-left: 20%;
		}

		.info-right {
			padding-right: 20%;
		}

		.info-pic {
			width: 50px;
			text-align: center;
			margin: 10px 20px;
		}

		.info-desc {
			width: 80%;
		}

		.info-left .info-pic, .info-left .info-desc {
			float: left;
		}

		.info-right .info-pic, .info-right .info-desc {
			float: right;
		}

		.text-highlight {
		    font-family: 'Sansation-Bold';
		    font-weight: bold;
		    font-size: 22pt;
			margin-right: 5px;
			line-height: 20px;
		}

		.glyphicon {
			font-size: 32pt;
		}


/* CAROUSEL */
#carousel-example-generic {
	width: 204px;
	left: 55px;
	top: 74px;
}

.carousel-inner, .carousel-inner > .item {
	height: 361px;
}

.carousel-inner > .item > img {
	margin: 0 auto;
	height: 361px;
	width: 100%;
}
	
	/* CAROUSEL INDICATORS */
	.carousel-indicators {
		bottom: 20px;
	}

	.carousel-indicators li {
		border: 1px solid #AAA;
	}

	.carousel-indicators li.active {
		background-color: #AAA;
	}


/* ABOUT */
#app {
	margin-left: 40px;
	margin-top: 80px;
}

.about-pic {
	padding-bottom: 10px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 990px) {
	#sub-body {
		min-height: 870px;
	}

	#main-content {
		padding-left: 25%;
	}

	#main-right {
		padding: 0;
		height: auto;
	}

	#main-right, #hanging-title {
		margin-left: -34px;
	}

	#hanging-title {
		width: 370px;
	}

	#lower-content {
		padding-left: 50px;
		padding-right: 50px;
	}

	.info-block {
		padding: 0;
	}
}

@media screen and (max-width: 745px) {
	#main-content {
		padding-left: 15%;
	}

	header li {
		display: block;
		line-height: normal;
	}

	header li a {
		padding: 0;
	}

	#main-right {
		text-align: center;
	}

	#main-right img {
		width: 250px;
		display: block;
		margin-left: 78px;
	}

	#slogan-download {
		width: 200px;
		margin-left: 100px;
	}

	#hanging-title {
		width: 200px;
		margin-left: 48px;
	}

	#lower-content {
		padding-left: 10px;
		padding-right: 10px;
	}

	.info-block {
		margin-bottom: 60px;
	}

	.info-block .info-pic {
		float: none;
		margin: 0 auto;
		display: block;
	}

	.info-desc {
		width: 100%;
	}
}

/*FAQ PAGE*/
.openSans {
	font-family: 'Open-Sans';
}

@media screen and (max-width: 500px) {
	#sub-body {
		margin: 0;
	}

	#main-content {
		padding-left: 5%;
	}
}