/* GLOBAL */
* {
	margin: 0;
	padding: 0;
}

html, body, #main-content {
	width: 100%;
	height: 100%;
}

#main-content {
	border-bottom: 1px solid #AAA;
}

#main-content img {
	width: 50%;
	display: block;
	position: absolute;
	z-index: -1;
	display: none;
}


/* CAROUSEL */
#carousel-example-generic {
	top: 200px;
	z-index: 1;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.carousel-control span {
	color: #AAA;
}