@font-face { font-family: Sansation-Bold; src: url('Sansation-Bold.ttf'); }

/*ABOUT PAGE*/
h1 {
	color: #097B36;
	font-family: 'Sansation-Bold';
	font-size: 50px;
}

h2 {
	font-family: 'Sansation-Bold';
}

header {
    overflow: hidden;
    padding: 20px;
}

#header-logo {
    float: left;
    margin-right: 30px;
    width: 60px;
}

nav ul {
    line-height: 60px;
}

nav li {
    display: inline-block;
}

nav a {
	padding: 10px 20px;
}

#about-box {
	margin-top: 5%;
}

#app {
	margin-left: 50px;
	margin-top: 20px;
}

#pictures {
	margin-top: 2%;
}

.pic {
	padding-bottom: 10px;
}
